.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: "Poppins", serif;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.theme-container {
    display: flex;
    justify-content: flex-end;
}

.first-common-para {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto Mono", serif;
    ;
}

.main-heading {
    color: var(--main-heading);
    font-size: 7rem;
    font-weight: 700;
}

.second-common-para {
    color: var(--main-heading);
    font-size: 1.3rem;
    font-weight: 300;
}

.job-role {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--main-color);
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.resume {
    font-size: 1.5rem;
    color: var(--main-heading);
    transition: .2s ease-in-out;
}

i {
    margin: 0 .8rem;
    font-size: 1.5rem;
    color: var(--main-heading);
    transition: .2s ease-in-out;
}

i:hover {
    color: var(--main-color);
}

.resume::after {
    content: "";
    width: 0;
    height: 2px;
    margin: auto;
    display: block;
    background-color: var(--main-color);
    transition: .3s;
}

.resume:hover::after {
    width: 100%;
    color: var(--main-color);
}

.resume:hover {
    color: var(--main-color);
}

@media (width < 676px) {
    .main-heading {
        font-size: 3rem;
    }
}